@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
}

header, section, footer {
	padding: 1em;
}

header {
	background-image: url(../img/background.jpg);
	background-size: cover;
	color: #FFF;
}

header a:link,
header a:visited {
	color: #CCCCCC;
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

header a:hover, 
header a:focus {
	text-decoration: underline;
	color: #FFF;
	background-color: #CC0000;
}

#about, #projects {
	background-color: #F4D64A;
	opacity: 0.7;
}

#about:hover, #projects:hover {
	opacity: 1;
}

#education, #contact {
	background-color: #DA2424;
	opacity: 0.7;
}

#education:hover, #contact:hover {
	opacity: 1;
}

footer {
	background-color: #F3B133;
}

#about img {
	max-height: 400px;
	float: left;
	margin-right: 1em;
	opacity: 0.7;
}

#about img:hover {
	opacity: 1;
}

#education {
	clear: both;
}

}
}